@import "tailwindcss";

@theme {
  --color-hhg-green: #0B5C36;
  --color-hhg-cream: #FDF8E4;
  --color-hhg-pink: #FF007F;
  --color-hhg-yellow: #FFFF00;
  
  --font-playfair: var(--font-playfair);
  --font-space-mono: var(--font-space-mono);
}

body {
  background-color: var(--color-hhg-green);
  color: var(--color-hhg-cream);
  font-family: var(--font-space-mono), monospace;
}
